<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <form action="/madlib">
      <h1>Fill in the form to complete the Madlib!</h1>
      <!-- name -->
      <label for="name-input">Name</label>
      <input id="name-input" type="text" value="" name='name' />

      <!-- Color -->
      <label for="">Color</label>
      <select name="color" id="color-input">
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="yellow">Yellow</option>
        <option value="orange">Orange</option>
        <option value="green">Green</option>
      </select>

      <!-- noun -->
      <label for="">Noun</label>
      <select name="noun" id="noun-input">
        <option value="boat">Boat</option>
        <option value="plane">Plane</option>
        <option value="train">Train</option>
        <option value="car">Car</option>
        <option value="bike">Bike</option>
      </select>

      <!-- adjective -->
      <label for="">Adjective</label>
      <select name="adjective" id="adjective-input">
        <option value="awesome">Awesome</option>
        <option value="hot">Hot</option>
        <option value="cold">Cold</option>
        <option value="envious">Envious</option>
        <option value="joyful">Joyful</option>
      </select>

      <!-- Submit -->
      <button type="submit">MADLIB!!!</button>
    </form>
    <script src="" async defer></script>
  </body>
</html>
