body {
  font-size: 40px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

p {
  width: 80vw;
  text-align: center;
}

span {
  color: red;
}
